* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", serif;
  /* font-weight: 500; */
}

.hero {
  background: url("images/bg_3.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero .content {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  font-size: 30px;
  font-weight: 400;
  color: white;
  margin-bottom: 13px;
  letter-spacing: 2px;
}
.hero .home-login .color-standing {
  color: rgba(255, 255, 255, 0.396);
}
.hero .home-login a {
  font-size: 13px;
  margin-top: 10px;
  color: white;
  border-bottom: 2px rgba(255, 255, 255, 0.396) solid;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  padding-bottom: 5px;
  margin-right: 10px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(images/bg_4.jpg);
}

.login-box {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 40px;
  width: 60%;
  color: white;
}

.login-box h2 {
  text-align: start;
  margin-bottom: 30px;
  font-weight: 500;
}

label {
  display: block;
  margin-bottom: 20px;
  font-weight: 400;
}

input {
  width: 95%;
  padding: 20px;
  margin-bottom: 15px;
  border: none;
  background-color: black;
  border: rgb(48, 28, 3) solid 0.1px;
  color: white;
}

input::placeholder {
  color: #888;
}

button {
  width: 13%;
  padding: 18px;
  background-color: #caa472;
  border: none;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #b38e5d;
}
p,
div {
  color: white;
  font-family: Lexend Deca;
}
.default-padding {
  padding: 0 15%;
  /* max-width: 1280px; */
  margin: auto;
}

/* Responsive */
@media (max-width: 1024px) {
  .login-box {
    width: 80%;
    padding: 30px;
  }

  button {
    width: 20%;
  }
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 24px;
  }

  .hero .home-login a {
    font-size: 12px;
  }

  .login-box {
    width: 90%;
    padding: 25px;
  }

  input {
    padding: 15px;
  }

  button {
    width: 30%;
  }
}

@media (max-width: 480px) {
  .hero h2 {
    font-size: 30px;
  }

  .hero .home-login a {
    font-size: 11px;
  }

  .login-box {
    width: 85%;
    padding: 30px;
  }
  .login-box h2 {
    font-size: 18px;
  }
  label {
    font-size: 15px;
  }
  input {
    padding: 12px;
  }

  button {
    width: 40%;
    padding: 15px;
    font-size: 14px;
  }
}

/* End Responsive */
